a {
  text-decoration: none;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #333;
}

h2 {
  font-family: "Lato", sans-serif;
  color: #333;
}

h1,
h3,
h4,
span,
select,
option {
  font-family: "Raleway", sans-serif;
  color: #333;
}

h1 {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 700;
}

.card-title {
  font-size: 1.3em;
  font-weight: 700;
}

.white {
  color: white;
}

.black {
  color: #333333;
}
