a {
    text-decoration: none;
}
  
p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
  
h1,
span {
    font-family: "Raleway";
}
  
  h1 {
    margin: 0;
    padding: 0;
  }
  
  .title {
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: 700;
  }
  
  .card-title {
    font-size: 1.3em;
    font-weight: 700;
  }
  
  .white {
    color: white;
  }
  
  .black {
    color: #333333;
  }
  
  .App {
    max-width: 940px;
    margin: 0 auto;
  }