.info {
  margin-bottom: 11vh;
  &__menu {
    padding: 10px 6%;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 16px;
      padding: 20px 0;
      font-weight: 500;
      color: #333;
      & a {
        text-decoration: none;
        color: #333;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__contact {
    padding: 35px 6%;
    line-height: 150%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    font-weight: 400;
    &__items {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      & a {
        color: #333;
        text-decoration: none;
      }
    }
    &__heading {
      font-size: 0.9em;
    }
    &__before {
      color: rgba(0, 0, 0, 0.2);
      font-size: 0.9em;
    }
    &__item {
      display: flex;
      min-width: 50%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 0.9em;
      padding: 5px 0;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__privacy {
    padding: 35px 6%;
  }
  &__old {
    padding: 10px 6%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  }
  &__icon {
    color: rgba(0, 0, 0, 0.2);
    margin-right: 8px;
  }
}
