.info {
  background-color: white;

  &__body {
    margin-top: 14vh;
    flex: 1;
    padding: 5%;
    @media (min-width: 740px) {
      padding: 5% 0 0;
      max-width: 940px;
      margin: 0 auto;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    color: #828282;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    & a {
      color: #828282;
    }
    @media (min-width: 740px) {
      display: none;
    }
  }

  &__text {
    font-size: 1em;
    line-height: 180%;
    color: #333;
    margin: 20px 0 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% 0 8%;
    & p {
      color: #333;
      margin: 0.5em 0;
    }
    & a {
      color: #333;
    }
  }
}
