.infobox {

    padding: 8% 5% 5%;
    color: #333;
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & p {
            margin: 0px;
            padding-top: 0.7em;
            font-size: 1em;
            font-weight: 400;
            display: flex;
            text-transform: capitalize;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            & a {
                text-decoration: none;
                color: #333;
            }
        }

    }

    &__icon {
        color: #6D9B8D;
        padding-right: 8px;
    }

    &__icon--right {
        color: #333;
        padding-left: 5px;
    }

    @media (min-width: 740px) {
        padding: 3% 2% 2%;
        max-width: 940px;
        margin: 0 auto;
    }
}

.edescr {

    padding: 0 5%;

    @media (min-width: 740px) {
        max-width: 940px;
        margin: 0 auto;
        padding: 0 5% 2%;
    }

    &__container {
        font-size: 1em;
        line-height: 180%;
        color: #333;
        margin-bottom: 0;
        margin-top: 20px;

        & a {
            color: #333;
            text-decoration: underline;
            font-weight: bold;
        }

    }


    & h3 {
        color: #333;
        font-size: 1.3em;
    }

}

@keyframes fadeIn {
 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}