.ehero {
  &__container {
    height: 42vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: 740px) {
      height: 65vh;

      & h1 {
        max-width: 940px;
        margin: 0 auto;
        font-size: 2.5em;
      }
    }
  }

  &__paddings {
    padding: 0 5%;
    & h1 {
      margin-bottom: 25px;
      @media (min-width: 740px) {
        margin-bottom: 50px;
      }
    }
  }
}
