.topbar {
  &__container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
    flex-direction: row;
    width: 100%;
    height: 14vh;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    color: transparent;
    transition: all 0.3s ease-in;
    z-index: 97;
    & span {
      color: transparent;
    }
    @media (min-width: 740px) {
      display: none;
    }
  }

  &__icon {
    color: #fff;
    transition: all 0.3s ease-in;
  }
}

.topbar__scrolled {
  height: 10vh !important;
  background: white !important;
  color: #333333 !important;
  opacity: 1 !important;
  font-size: 1em;
  font-weight: 700;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  & svg {
    color: #333333;
  }
  & span {
    color: #333;
  }
}
