.dfooter {
  background-color: #f8f8f8;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
    max-width: 940px;
    margin: 0 auto;

    @media (max-width: 740px) {
      display: none;
    }

    & a {
      text-decoration: none;
      color: #333;
    }
  }

  &__links {
    padding-left: 1%;
    border-left: 2px solid rgba(109, 157, 139, 0.5);
  }

  &__socials {
    padding-left: 1%;
    border-left: 2px solid rgba(109, 157, 139, 0.5);
  }

  &__logo {
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
