@import "../styles/variables";

.dfooter {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  @media (max-width: 740px) {
    display: none;
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;

    & a {
      text-decoration: none;
      color: #333;
    }
  }

  &__links {
    padding-left: 2%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    width: 33%;
    & p:hover {
      color: $accent-color;
    }
  }

  &__socials {
    padding-left: 2%;
    width: 33%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    & p:hover {
      color: $accent-color;
    }
    @media (max-width: 740px) {
      border: none;
    }
  }

  &__logo {
    display: flex;
    width: 33%;

    align-self: center;
    justify-content: center;
  }
}
