@import "../styles/variables";

.dheader {
  &__container {
    display: flex;
    flex-direction: row;
    max-width: 940px;
    margin: 0 auto;
    background-color: white;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in;

    @media (max-width: 740px) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 40%;
    &__item {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 25px;
      padding: 3px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__link--active {
    & svg {
      color: $accent_color;
      animation: shake 0.2s 2 ease-out;
    }
    & span {
      color: $accent_color;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
    color: $secondary-color;
    margin-top: 3px;
  }

  &__icon {
    color: $secondary-color;
    padding-top: 2px;
  }
}

@keyframes shake {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}
