.header {
  &__container {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 10vh;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    color: #333;
    transition: all 0.3s ease-in;
    z-index: 1;

    @media (min-width: 740px) {
      display: none;
    }

    & h1 {
      font-size: 1.2em;
      margin: 0;
      color: #333;
    }
  }
  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 40%;
    &--border-left {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      padding-left: 10px;
    }
    &--border-right {
      padding-right: 10px;
    }
  }

  &__icon {
    color: #7f8483;
    padding-top: 2px;
  }
}
