@import "../styles/_variables.scss";

.nav {
  &__container {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 11vh;
    background-color: white;
    align-items: center;
    z-index: 98;
    justify-content: space-around;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    animation: slide 500ms ease;
    transition: all 600ms ease;
    @media (min-width: 740px) {
      display: none;
    }
  }

  &__text {
    font-size: 0.9em;
    font-weight: 600;
    color: $secondary-color;
    margin-top: 3px;
  }

  &__icon {
    color: $secondary-color;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__link--active {
    & svg {
      color: $accent-color;
      animation: shake 0.2s 2 ease-out;
    }
    & span {
      color: $accent-color;
    }
  }
}

@keyframes shake {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

@keyframes slide {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
