.nav {
  &__container {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: white;
    align-items: center;
    z-index: 98;
    justify-content: space-around;
    -webkit-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 1.2);
    -moz-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2);
    @media (min-width: 740px) {
      display: none;
    }
  }

  &__text {
    font-size: 0.9em;
    font-weight: 600;
    color: #7f8483;
    margin-top: 3px;
  }

  &__icon {
    color: #7f8483;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__link--active {
    & svg {
      color: #6d9b8d;
      animation: shake 0.2s 2 ease-out;
    }
    & span {
      color: #6d9b8d;
    }
  }
}

@keyframes shake {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}
