.not {
  &__body {
    padding: 5%;
    @media (min-width: 740px) {
      padding: 0%;
      max-width: 940px;
      margin: 0 auto;
      min-height: 60vh;
      padding-top: 5%;
    }
  }
  &__button {
    all: unset;
    font-family: "Lato";
    background-color: #6d9b8d;
    color: white;
    font-weight: 600;
    padding: 3%;
  }
}

.pop-down {
  transform: translateY(-50vh);
}
