.card {
  height: 200px;
  border-radius: 10px;
  padding: 2% 0% 2% 5%;
  margin: 0 1% 2% 1%;
  z-index: -99;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 3px 4px 20px -4px rgba(0, 0, 0, 0.8);
  transition: transform 300ms ease-out;

  @media (min-width: 740px) {
    min-height: 55vh;
    margin: 0 1% 2% 1%;

    &:hover {
      transform: scale(1.01);
      box-shadow: 5px 7px 25px -4px rgba(0, 0, 0, 0.8);
    }

    & h1 {
      font-size: 1.6rem;
    }
  }
}
