select:focus {
  outline: none;
}

.filter__menu {
  border: 1px solid #6d9b8d;
  display: flex;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  flex-direction: row;
  font-family: "Raleway";
  justify-content: flex-end;
  align-items: center;
}
