select:focus {
  outline: none;
}

.filter__menu {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  align-items: center;
}
