.noevents {
  &__container {
    display: flex;
    height: 66vh;
    align-items: flex-start;
    padding: 10% 6%;
    justify-content: flex-start;
    color: #333;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);

    & span {
      line-height: 160%;
    }

    & a {
      text-decoration: underline;
      font-weight: bold;
      color: #333;
    }
    @media (min-width: 740px) {
      max-width: 940px;
      padding: 35px 0 0;
      margin: 0 auto;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
