.noevents {
  &__container {
    display: flex;
    height: 66vh;
    align-items: flex-start;
    padding: 10% 6%;
    justify-content: flex-start;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    & span {
      line-height: 160%;
    }

    & a {
      text-decoration: underline;
      font-weight: bold;
      color: #333;
    }
  }
}
