.contact {

    padding: 0 5%;
    background-color: #6D9B8D;

    &__container {
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & p {
        font-weight: 600;
        font-size: 1em;
        color: #fff;
        margin: 0;
    }

}