.topbar {
   
    &__container {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.6;
        flex-direction: row;
        width: 100%;
        height: 14vh;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        color: transparent;
        transition: all 0.3s ease-in;
        z-index: 97;
        @media (min-width: 740px) {
          display: none;
        }
    }

    &__icon {
        color: #fff;
        transition: all 0.3s ease-in;
    }

}

.topbar__scrolled {
    height: 10vh !important;
    background: white !important;
    color: #333333 !important;
    opacity: 1 !important;
    font-size: 1em;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    & svg {
      color: #333333;
    }
}