.filter {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25vh;
    box-sizing: border-box;
    padding: 0 6%;
    align-items: center;
    color: #333;
    background-color: white;
    @media (min-width: 740px) {
      justify-content: flex-start;
      max-width: 940px;
      padding: 0;
      margin: 0 auto;
      height: 20vh;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      & h1 {
        font-size: 1.5rem;
        margin-right: 25px;
      }
    }
  }

  &__picker {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 5px;
    border-radius: 5px;
    flex-direction: row;
    font-family: "Raleway";
    justify-content: flex-end;
    align-items: center;
  }
}

.filter__container--scrolled {
  height: 9vh;
  position: fixed;
  font-family: "Raleway";
  max-width: 100vw;
  top: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  padding: 0 6%;
  align-items: center;
  color: #333;
  background-color: white;
  justify-content: space-between;
  & h1 {
    font-size: 1.2em;
  }
  @media (min-width: 740px) {
    display: none;
  }
}

.filter__picker--scrolled {
  padding: 3px 3px 3px 7px;
  font-size: 0.9em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  animation: slideUp 500ms ease;
  transition: all 600ms ease;
}

.hide {
  display: none;
}

select {
  background-color: white;
  @media (min-width: 740px) {
    padding: 2px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
