.load {
  &__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    animation: fade 1s linear forwards, slideRight 500ms 1800ms ease forwards;
    opacity: 0;
  }

  &__line {
    animation: slideUp 1s 500ms linear forwards,
      slideRight 500ms 1500ms ease forwards;
    opacity: 0;
    margin-top: 5px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(30px);

    opacity: 0;
  }
}
