.spinner {

    &__container {
        height: 77vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: center;
    }

    &__spinning {
        animation: spin 2s linear infinite;
    }

}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}