@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600');


a {
    text-decoration: none;
}

p {
    font-family: "Lato", sans-serif;
} 

h1, span {
    font-family: "Raleway"
}

h1 {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 1.7em;
    font-weight: 700
}

.white {
    color: white;
}

.black {
    color: #333333;
}

.App {
    min-height: 100vh;
    max-width: 940px;
    margin: 0 auto;
}
