.marker {

    &__container {
        background-color: white;
        padding: 5% 5% 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
    }

    &__date {
        font-size: 1.5em;
        text-transform: capitalize;
        color: #6D9B8D;
    }
    
    &__more {
        color: #828282;
        font-style: italic;
        font-size: 1.2em;
    }

    & img {
        border-radius: 10px;
    }

}