.privacy {
    
    &__body {
        margin-top: 14vh;
        flex: 1;
        padding: 5%;
        @media (min-width: 740px) {
            padding: 0%;
          }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        padding: 0 5%;
        justify-content: flex-end;
        align-items: center;
        color: #828282;
        border-top: 1px solid rgba(0,0,0,0.2);
        font-size: 0.8em;
        & a {
            color: #828282;
        }
        @media (min-width: 740px) {
            padding: 0%;
          }
    }

}